{% extends 'ica/index.html' %}

{% block content %}
<h1>List of Borrowers</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Loan Amount</th>
            <th>Loan Tenure</th>
            <th>Interest Rate</th>
            <th>Monthly EMI</th>
        </tr>
    </thead>
    <tbody>
        {% for borrower in borrowers %}
        <tr>
            <td>{{ borrower.name }}</td>
            <td>{{ borrower.phone }}</td>
            <td>₹{{ borrower.loan_amount }}</td>
            <td>{{ borrower.loan_tenure }} months</td>
            <td>{{ borrower.interest_rate }}%</td>
            <td>₹{{ borrower.calculate_emi }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}